{% extends "layout.html" %}

{% block body %}
<div class="container">
<h4>Neges Educational Projects</h4>
<h6 style="font-weight: 300;" class="text-muted">Here are some of the current projects we are embarking on.</h6>
<div class="row">
    <div class="col-md-4" data-aos="fade-in">
        <div class="gallery" style="width: 100%;">
            <a target="_blank" href="../static/img/project1.jpeg">
              <img src="../static/img/project1.jpeg" alt="Cinque Terre" style="object-fit: cover; height:100px; ">
            </a>
            <div class="desc">Maths Clinic</div>
          </div>
    </div>
    <div class="col-md-4" data-aos="fade-in" data-aos-delay="200">
        <div class="gallery">
            <a target="_blank" href="../static/img/banner1.jpeg">
              <img src="../static/img/banner1.jpeg" alt="Cinque Terre" style="object-fit: cover; height:100px">
            </a>
            <div class="desc">Tsentse Remidial Classes</div>
          </div>
    </div>
    <div class="col-md-4" data-aos="fade-in" data-aos-delay="400">
        <div class="gallery">
            <a target="_blank" href="../static/img/project2.jpeg">
              <img src="../static/img/project2.jpeg" alt="Cinque Terre" style="object-fit: cover; height:100px">
            </a>
            <div class="desc">Double Track Remedial Classes</div>
          </div>
    </div>
</div>

  

</div>

  
{% endblock %}