{% extends "layout.html" %}

{% block body %}
<div class="container">
    <img src="../static/profile_pics/{{student.image_file}}" style="width: 100px;"/>
    <legend class="border-bottom mb-4">{{student.name}}</legend>

    <br>
    <h6>Phone</h4>
    <h4>{{student.phone}}</h4>
    <br>
    <h6>Course</h4>
    <h4>{{student.course}}</h4>
    <br>
    <h6>Date Of Birth</h6>
    <h4>{{student.dob}}</h4>
    <br>
    <h6>Email</h6>
    <h4>{{student.email}}</h4>
    <br>
    <h6>Previous School</h6>
    <h4>{{student.prevSchool}}</h4>
    <br>
    <h6>Grades</h6>
    <div class="inline">
        <h4>{{student.course1}} - <span style="padding-left:10px;">{{student.grade1}}</span></h4>
        <h4>{{student.course2}} - <span style="padding-left:10px;">{{student.grade2}}</span></h4>
        <h4>{{student.course3}} - <span style="padding-left:10px;">{{student.grade3}}</span></h4>
        <h4>{{student.course4}} - <span style="padding-left:10px;">{{student.grade4}}</span></h4>
        <h4>{{student.course5}} - <span style="padding-left:10px;">{{student.grade5}}</span></h4>
        <h4>{{student.course6}} - <span style="padding-left:10px;">{{student.grade6}}</span></h4>

    </div>
    <br>
    <h6>Parent Information</h6>
    <h4>{{student.parentname}}</h4>
    <h4>{{student.parentphone}}</h4>

</div>

{% endblock %}